<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director Letters Footer</title>
</head>

<footer>
    <div class="footer-container">
        <div class="links-wrapper">
            <h2 class="text-white footer-text">Letters</h2>
            <ul class="link-list">
                <li><a href="/directorsletters/band-director-letters">Band Director Letters</a></li>
                <li><a href="/directorsletters/choir-director-letters">Choir Director Letters</a></li>
                <li><a href="/directorsletters/orchestra-director-letters">Orchestra Director Letters</a></li>
                <li><a href="/directorsletters/musical-theater-director-letters">Musical Theater Director Letters</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2 class="text-white footer-text">Our Websites</h2>
            <ul class="link-list">
                <li><a href="/scholarshipauditions/home">Scholarship Auditions</a></li>
                <li><a href="https://www.nationalscholasticmusiciansawards.com/home">National Scholastic Musicians Awards</a></li>
                <li><a href="https://www.mymusicfuture.com/">My Music Future</a></li>
                <li><a href="https://www.accoladi.com/">Accoladi</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2 class="text-white footer-text">Contact Us</h2>
            <ul class="link-list">
                <li><a href="/directorsletters/aboutus">About Us</a></li>
                <li><a href="/directorsletters/termsandservices">Terms and Services</a></li>
                <li><a href="/directorsletters/contact">Contact Page</a></li>
                <li><a href="mailto: directorsletters.contact@gmail.com"> Email Us</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2 class="text-white footer-text">Social Links</h2>
            <ul class="social-links">
                <a href="https://www.facebook.com/ScholarshipAuditions/"><li><i class="bi bi-facebook"></i></li></a>
                <a href="https://twitter.com/Accoladi"><li><i class="bi bi-twitter"></i></li></a>
                <a href="https://www.instagram.com/scholarshipauditions/"><li><i class="bi bi-instagram"></i></li></a>
                <a href="https://www.linkedin.com/company/scholarship-auditions/mycompany/"><li><i class="bi bi-linkedin"></i></li></a>
            </ul>
        </div>
    </div>
    <div class="fineprint">
        <br>
        <a href="/scholarshipauditions/home">
            <p>©2023 All Rights Reserved by a Division of ScholarshipAuditions.com</p>
            <img style="max-width: 20rem; height: 4rem;" src="/images/accoladi-logo-yellow.png">
        </a>
    </div>
</footer>
</html>