<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graceful Bowls Footer</title>
</head>

<footer>
    <div class="footer-container">

        <div class="links-wrapper">
            <h2 class="text-white footer-text">Pages</h2>
            <ul class="link-list">
                <li><a href="/gracefulbowls/home">Home</a></li>
                <li><a href="/gracefulbowls/menu">Menu</a></li>
                <li><a href="/gracefulbowls/contact">Contact</a></li>
                <li><a href="https://www.doordash.com/en-AU/store/graceful-bowls-shelbyville-30364338/?srsltid=AfmBOopCTwZ7ZOXL7THdth1BtoHCi5ktuNPSOArtvjeb8M0uwMxTHGgT">Order</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2 class="footer-text" style="text-align: center !important; padding-left:4rem">Contact Us</h2>
            <ul class="link-list">
                <li><a href="/gracefulbowls/contact">1731 N Main St E, Shelbyville, TN 37160</a></li>
                <li><a href="tel: 9314924119"> (931) 492-4119</a></li>
                <li><a href="mailto: gracefulbowlstn@gmail.com"> Email Us</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2 class="footer-text" style="text-align: center !important; padding-left:4rem">Hours</h2>
            <ul class="link-list">
                <li><a href="/gracefulbowls/contact">Mon-Fri: 6am – 6pm</a></li>
                <li><a href="/gracefulbowls/contact">Sat: 8am – 3pm</a></li>
                <li><a href="/gracefulbowls/contact">Sun: CLOSED</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2 class="footer-text" style="text-align: center !important; padding-left:4rem">Social Links</h2>
            <ul class="social-links">
                <a href=" https://www.facebook.com/profile.php?id=61561050333764"><li><i class="bi bi-facebook"></i></li></a>
                <a href="https://www.instagram.com/gracefulbowls/"><li><i class="bi bi-instagram"></i></li></a>
                <a href="https://www.tiktok.com/@graceful.bowls?_t=8p0m7DVwwrm&_r=1"><li><i class="bi bi-tiktok"></i></li></a>
                <a href="https://www.yelp.com/biz/graceful-bowls-shelbyville"><li><i class="bi bi-yelp"></i></li></a>
            </ul>
        </div>

    </div>
    <div class="fineprint">
        <br>
        <a>
            <p>©2023 All Rights Reserved by Graceful Bowls</p>
            <img style="max-width: 20rem; height: 4.5rem;" src="/images/448593367_789278076643686_3574364568358996650_n-1 copy.webp">
        </a>
    </div>
</footer>
</html>