<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Director Letters Footer</title>
</head>


<footer style="margin-top: 2rem;">
    <div class="footer-container">
        <div class="links-wrapper">
            <h2>Pages</h2>
            <ul class="link-list">
                <li><a href="/scholarshipauditions/home">Home</a></li>
                <li><a href="/scholarshipauditions/founder">Founder Story</a></li>
                <li><a href="/scholarshipauditions/internship-program">Collegiate Internship Program</a></li>
                <li><a href="/scholarshipauditions/contact">Contact</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2>Our Websites</h2>
            <ul class="link-list">
                <li><a href="https://www.accoladi.com/">Accoladi</a></li>
                <li><a href="https://www.nationalscholasticmusiciansawards.com/home">National Scholastic Junior Musician Awards</a></li>
                <li><a href="http://www.directorletters.com/home">Director Letters</a></li>
                <li><a href="https://www.mymusicfuture.com/">My Music Future</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2>More</h2>
            <ul class="link-list">
                <li><a href="https://www.betweenbands.com/">Between Bands</a></li>
                <li><a href="https://www.honorensembleconductors.com/">Honor Ensemble Conductors</a></li>
                <li><a href="https://www.nationalscholasticmusiciansawards.com/home">National Scholastic Musician Awards</a></li>
                <li><a href="https://www.musiccitybowlband.com/">Music City Bowl Band</a></li>
            </ul>
        </div>
        <div class="links-wrapper">
            <h2>Social Links</h2>
            <ul class="social-links">
                <a href="https://www.facebook.com/"><li><i class="bi bi-facebook"></i></li></a>
                <a href="https://twitter.com/?lang=en"><li><i class="bi bi-twitter"></i></li></a>
                <a href="https://www.instagram.com/"><li><i class="bi bi-instagram"></i></li></a>
                <a href="https://www.linkedin.com/"><li><i class="bi bi-linkedin"></i></li></a>
            </ul>
        </div>
    </div>
    <div class="fineprint">
        <p>©2023 All Rights Reserved</p>
    </div>
</footer>
</html>