<%- include('partials/directorsletters-header') -%>

<main class="letters-container">
  <section class="choir-letters-hero">          
    <h1 class="choir-letters-hero-title">Choir Director Letters</h1>           
  </section>
</main>

<%- include('partials/directorsletters-footer') -%>