<%- include('partials/directorsletters-header') -%>

<main class="letters-container">
  <section class="musical-letters-hero">          
    <h1 class="musical-letters-hero-title">Musical Theater Director Letters</h1>           
  </section>
</main>

<%- include('partials/directorsletters-footer') -%>
