<%- include('partials/directorsletters-header') -%>

<main class="letters-container">
    <section class="band-letters-hero">          
        <h1 class="band-letters-hero-title">Band Director Letters</h1>
    </section>
</main>

<%- include('partials/directorsletters-footer') -%>
