<%- include('partials/gracefulbowls-header') -%>


<div style="margin: 0em 8em;">
    <div class="menuHero">
        <div>
            <h1 class="menuPageTitle">Menu</h1>
            <br>
        </div>
        <div class="menuHeroImg">
            <img src="/images/halfbowl.png">
        </div>
    </div>
    <h2 class="menuSectionTitle">BOWLS</h2>
    <section class="bowls">
        <div class="bowl">
            <img src="/images/gracefulbowl.PNG">
            <br>
            <h3>Graceful Bowl</h3>
            <p>Base: Açai, banana, strawberry, ​blueberry, pineapple, and organic apple ​juice.</p>
            <p>Toppings: Granola, banana, ​strawberry, blueberry, almond butter, ​kiwi, and honey.</p>
        </div>
        <div class="bowl">
            <img src="/images/gardenbowl.PNG">
            <br>
            <h3>Garden Bowl</h3>
            <p>Base: Banana, pineapple, spinach, and ​coconut milk.</p>
            <p>Toppings: Granola, banana, pineapple, ​strawberry, kiwi, coconut flakes, and honey</p>
        </div>
        <div class="bowl">
            <img src="/images/laplayabowl.PNG">
            <br>
            <h3>La Playa Bowl</h3>
            <p>Base: Mango, strawberry, and organic ​apple juice.</p>
            <p>Toppings: Pineapple, mango, oranges, chamoy, and tajin.</p>
        </div>
        <div class="bowl">
            <img src="/images/sunsetbowl.PNG">
            <br>
            <h3>Sunset Bowl</h3>
            <p>Base: Mango, strawberry, and organic ​apple juice.</p>
            <p>Toppings: Granola, strawberry, raspberry, blackberry, mango, and honey​</p>
        </div>

        <div class="bowl">
            <img src="/images/parfaitbowl.PNG">
            <br>
            <h3>Parfait Bowl</h3>
            <p>Base: Greek yogurt</p>
            <p>Toppings: Granola, strawberry, ​blueberry, blackberry, raspberry, and sliced ​almonds.</p>
        </div>
        <div class="bowl">
            <img src="/images/gracefulbowl.PNG">
            <br>
            <h3>Gigi's Bowl Bowl</h3>
            <p>Base: Strawberries, bananas, and organic ​apple juice.</p>
            <p>Toppings: Granola, strawberry, ​blueberry, kiwi, honey, and nutella.</p>
        </div>
        <div class="bowl">
            <img src="/images/matchabowl.PNG">
            <br>
            <h3>Matcha Bowl</h3>
            <p>Base: Mango, Pineapple, banana, matcha, and ​almond milk.</p>
            <p>Toppings: Granola, banana, mango, kiwi, ​pineapple, and honey.</p>
        </div>
        <div class="bowl">
            <img src="/images/elybellybowl.PNG">
            <br>
            <h3>Ely Belly Bowl</h3>
            <p>Base: Dragonfruit, peaches, banana, and ​organic apple juice.</p>
            <p>Toppings: Granola, bananas, ​strawberries, peaches, and honey.</p>
        </div>
    </section>

    <h2 class="menuSectionTitle">SMOOTHIES</h2>
    <section class="smoothies">
        <div class="smoothie">
            <img src="/images/gracefulsmoothie.PNG">
            <br>
            <h3>Graceful Smoothie</h3>
            <p>Açai, banana, strawberry, blueberry, ​pineapple, and organic apple juice with almond butter drizzle.</p>
        </div>
        <div class="smoothie">
            <img src="/images/lalunasmoothie.PNG">
            <br>
            <h3>La Luna Smoothie</h3>
            <p>Spirulina, banana, pineapple, and coconut milk.</p>
        </div>        
        <div class="smoothie">
            <img src="/images/laplayasmoothie.PNG">
            <br>
            <h3>La Playa Smoothie</h3>
            <p>Strawberry, mango, and organic apple juice, with ​chamoy drizzle and tajin.</p>
        </div>
        <div class="smoothie">
            <img src="/images/gigissmoothie.PNG">
            <br>
            <h3>Gigi's Smoothie</h3>
            <p>Strawberry, banana, organic apple juice with nutella drizzle.</p>
        </div>
        <div class="smoothie">
            <img src="/images/gardensmoothie.PNG">
            <br>
            <h3>Garden Smoothie</h3>
            <p>Banana, pineapple, spinach, and organic apple ​juice.</p>
        </div>         
        <div class="smoothie">
            <img src="/images/gardensmoothie.PNG">
            <br>
            <h3>Matcha Smoothie</h3>
            <p>Banana, mango, pineapple, matcha, and ​almond milk.</p>
        </div>
        <div class="smoothie">
            <img src="/images/gardensmoothie.PNG">
            <br>
            <h3>Ely Belly Smoothie</h3>
            <p>Dragonfruit, peaches, banana, and organic apple ​juice.</p>
        </div>
    </section>

    <h2 class="menuSectionTitle">TOAST</h2>
    <section class="fullToast">
        <section class="toastLeft">
            <img style="width:46rem" src="/images/toast.jpg">
        </section>
        <section class="toastRight">
            <div class="tb">
                <div class="toastBreads">
                    <h3>Pick Your Bread</h3>
                    <ul>             
                        <li>White</li>
                        <li>Wheat</li>
                        <li>Gluten Free</li>
                    </ul>
                </div>
                <div class="toastSpreads">
                    <h3>Pick Your Spread</h3>
                    <ul>             
                        <li>Plain Cream Cheese</li>
                        <li>Smashed Avacado</li>
                        <li>Almond Butter</li>
                        <li>Hummus</li>
                        <li>Peanut Butter</li>
                        <li>Nutella</li>
                        <li>Pesto</li>
                        <li>Plain Butter</li>
                        <li>Cookie Butter</li>
                    </ul>
                </div>
            </div>
            <div class="toastToppings">
                <h3>Pick 3 Toppings</h3>
                <ul>             
                    <li>Chocolate Chip</li>
                    <li>Coconut Flakes</li>
                    <li>Hemp Seeds</li>
                    <li>Chia Seeds</li>
                    <li>Kiwi</li>
                    <li>Mango</li>
                    <li>Pineapple</li>
                    <li>Strawberry</li>
                    <li>Banana</li>
                    <li>Blueberry</li>
                    <li>Honey</li>
                    <li>Bee Pollen</li>
                    <li>Sliced Almonds</li>
                    <li>Macadamia Nuts</li>
                    <li>Agave</li>
                    <li>Dulce de Leche</li>
                    <li>Nut Free Granola</li>
                    <li>Peaches</li>
                    <li>Gluten Free Granola</li>
                    <li>Raspberry</li>
                    <li>Blackberry</li>
                    <li>Oranges</li>
                    <li>Granola</li>
                </ul>
            </div>
        </section>
    </section>

</div>

<%- include('partials/gracefulbowls-footer') -%>