<%- include('partials/scholarshipauditions-header') -%>

<main class="contact-page">
    <section class="main-contact-section">
        <div class="contact-left">
            <img src="/images/navygoldclef.png">
        </div>
        <div class="contact-right">
            <h1>OUR TEAM WOULD LOVE TO HEAR FROM YOU!</h1>
            <h4>Have comments, questions, feedback to share?</h4>
            <h4>Also send your requests for letters, our educators are more than happy to craft a custom letter for your needs!</h4>
            <form id="contactForm">
                <div class="form">
                  <div class="contact-row">
                    <input style="width: 49% !important;" type="text" id="name" placeholder="Name">
                    <input style="width: 49% !important;" type="text" id="subject" placeholder="Subject">
                  </div>
                  <div class="email">
                    <input type="email" id="email" placeholder="Email">
                  </div>
                  <div class="msg">
                    <textarea name="msg" id="msg" cols="43" rows="6" placeholder="Message"></textarea>
                  </div>
                  <br>
                  <div class="about-button">
                    <button class="btn btn-main" id="submitButton" type="submit">Send</button>
                  </div>
                </div>
              </form>
        </div>
    </section>
</main>

<%- include('partials/scholarshipauditions-footer') -%>