<%- include('partials/scholarshipauditions-header') -%>

<main class="intern-main" style="border: deepskyblue 3px solid; margin: 0 4.1rem; margin-top: 10rem;">
    <section style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
        <img src="/images/gradcap.png" class="grad-cap" style="width: 25rem; height: 15rem; margin: 0 3rem; transform: scaleX(-1);        ">
        <div style="border: #ecad34 solid 1rem; background-color: #12151d; padding: 2rem; max-width: 500rem; width: 100%; margin-bottom: 2rem;">
            <h1 style="font-size: 3.5rem; font-weight: 700; text-align: center; color: white;">Internship Program <br> at <br> Scholarship Auditions</h1>
        </div>
        <img src="/images/gradcap.png" class="grad-cap" style="width: 25rem; height: 15rem; margin: 0 3rem;">
    </section>

    <section>
        <p>Since its inception, ScholarshipAuditions.com has been a beacon of inspiration, offering a
            transformative internship program that has touched the lives of countless aspiring young
            professionals. Our journey began with the 2018 fall internship program, initially welcoming four
            talented students from local Nashville universities. Little did we know that this humble
            beginning would evolve into a profound legacy, shaping the futures of 174 interns from 65
            institutions of higher learning across the globe.</p>
        <p>Each intern class has been a vibrant tapestry of diverse talents, bringing their skills, dreams,
            and aspirations to enrich ScholarshipAuditions.com. It's a testament to the power of
            collaboration, innovation, and unwavering dedication that our internship program has thrived,
            semester after semester.</p>
        <p>Our commitment to creating positive hands-on experiences has been unwavering, and the
            results have been nothing short of remarkable. In 2021, our summer interns played a pivotal role
            in the rebranding of ScholarshipAuditions.com, which transformed into Accoladi. They helped
            reshape our website to be more user-friendly, marking a significant milestone in our journey.</p>
        <p>But the true measure of our success lies in the stories of the interns themselves, whose words
            echo with gratitude and ambition. As they bid farewell to their internship experiences, they
            leave us with invaluable reflections:</p>
    </section>

    <section style="background-color: rgb(18 22 41); margin: 4rem -4.4rem; padding: 0 4rem;">
        <div style="border: deepskyblue 3px solid; border-top: none; border-bottom: none;">
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; padding-top: 5rem; justify-content: center; align-items: center;">
                <div style="max-width: 600px; width: 100%; margin:1rem; padding: 1rem; color: white; text-align: center; ">
                    <img src="/images/acash.png" style="width: 25rem; height: 25rem; margin: 2rem;">
                    <p>Anthony Cash, 2021 Summer Internship</p>
                    <p>Holy Cross University</p>
                </div>
                <div style="border: .5rem solid deepskyblue; background-color: white; max-width: 600px; width: 100%; margin:1rem; padding: 1rem; color: black;">
                    <p style="font-size: 1.4rem;">"Going into this summer, I was unsure what the future held, and I
                        was anxious about getting an internship or job in a professional
                        industry. I applied and applied, but every opportunity fell through
                        until I got an email from ScholarshipAuditions.com. At first, I didn’t
                        know what to expect, and I was very nervous. However, after a few
                        days, I realized that this was an excellent place to learn and flourish
                        as a professional and as a developing young man.</p>
                    <p style="font-size: 1.4rem;">From writing articles to performing commercials,
                        ScholarshipAuditions.com gave me hands-on experience, working
                        with seasoned professionals committed to training the next
                        generation. This internship opened doors for my future that I never
                        thought possible, and God has used ScholarshipAuditions.com to
                        order my steps closer to where He wants me to be.</p>
                    <p style="font-size: 1.4rem;">ScholarshipAuditions.com makes a difference in the lives of both
                        the students they serve and the employees and interns they hire.
                        Neither of my parents went to a four-year college, so I went into
                        college with little knowledgeable help. Because of
                        ScholarshipAuditions.com, thousands of young American musicians
                        like me are empowered to realize their collegiate and professional
                        dreams. ScholarshipAuditions.com is truly a driven and excellent
                        company, and it’s been an honor interning with them."</p>
                </div>
            </div>

            <div class="second-intern">
                <div style="max-width: 600px; width: 100%; margin:1rem; padding: 1rem; color: white; text-align: center; justify-content: center; align-items: center;">
                    <img src="/images/bwrenne.png" style="width: 25rem; height: 25rem; margin: 2rem;">
                    <p>Bailey Wrenne, 2021 Summer Internship</p>
                    <p>Middle Tennessee State University</p>
                </div>
                <div style="border: .5rem solid deepskyblue; background-color: white; max-width: 600px; width: 100%; margin:1rem; padding: 1rem; color: black;">
                    <p style="font-size: 1.4rem;">"This summer I had the opportunity to be a graphic design intern at
                        ScholarshipAuditions.com. Currently there are very few internships in
                        my field for currently enrolled college students but after weeks of
                        searching I came in contact with ScholarshipAuditions.com. After being
                        accepted into their program I realized what a positive environment this
                        was for college students getting introduced into the business world.</p>
                    <p style="font-size: 1.4rem;">This internship utilized all the skills I learned through my college courses
                        and put them into real world projects. Unlike other internships there was
                        no busy work involved instead we had the opportunity to work on real
                        projects that the company utilized in their research, website, and
                        conferences. As a company focused on helping students, they insured
                        that the interns got the most out of their time and learned how to utilize
                        their unique skills in the real world."</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div style="display:flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;">
            <div id="player" style="display: flex; justify-content: center; align-items: center !important; max-width: 750px; width: 100%; margin: 1rem;">
                <iframe style="border: 5px solid deepskyblue;" width="660" height="415" src="https://www.youtube.com/embed/PFKf0yDUKqQ?si=p7VyLZESVRIHcaBw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div style="justify-content: end; text-align: left; width: 450px; background-color: #ecad34; padding: 2rem; margin: 1rem; border: 5px solid deepskyblue;">
                <p>In the closing week of every internship class, each student embarks in an enlightening
                journey of reflection through an empowering exit interview, paving the way for heartfelt
                written and captivating video references.</p>
            </div>
        </div>
        <br>
        <br>
        <p>Each semester, our interns have embraced the challenge of working in an economically
            challenged community, fostering resilience and creativity. They've thrived in our
            collaborative corporate culture, where solid goals and deadlines are the building blocks of
            success.</p>
        <p>Our internship program has not only become an integral part of the Nashville business and
            educational community but has also gained recognition on a national level. Today, we
            proudly open our doors to the global community, welcoming talents from all corners of the
            world.</p>
        <p>And here's the most exciting part: Many of our interns have found not just jobs but fulfilling
            careers with ScholarshipAuditions.com. Some have embarked on contract-basis
            opportunities, further enriching their professional journeys.</p>
        <p>At ScholarshipAuditions.com, we don't just offer internships; we offer opportunities to ignite
            passion, expand horizons, and be a part of something bigger than one’s self.</p>
    </section>
    <section style="background-image: url('/images/fireworksandschool2.jpg'); margin: 6rem -4.5rem; padding-bottom: 8rem; margin-bottom: -3rem ;  background-size: contain;
    background-repeat: repeat;">
        <div style="border: deepskyblue 3px solid; border-top: none; margin: 4.1rem; margin-bottom: -3rem; padding-bottom: 17rem;">
            <h1 style="color: #ecad34; font-size: 4rem; font-weight: bolder; text-align: center; position: relative; z-index: 1; padding-top: 12rem">Internship Partnering Institutions</h1>
            <br>
            <br>
            <ul class="intern-list" style="list-style: none; color:white;">
                <li>American Intercontinental University – Chandler, Arizona</li>
                <li>Arizona State University – Tempe, Arizona</li>
                <li>Auburn University – Auburn, Alabama</li>
                <li>Austin Peay State University – Clarksville, Tennessee</li>
                <li>Baylor University – Waco, Texas</li>
                <li>Belmont University – Nashville, Tennessee</li>
                <li>Benedictine College – Atchison, Kansas</li>
                <li>Boston College – Boston, Massachusetts</li>
                <li>Boston University – Boston, Massachusetts</li>
                <li>Bradley University – Peoria, Illinois</li>
                <li>Carnegie Mellon University – Pittsburgh, Pennsylvania</li>
                <li>Columbia University Teachers College – New York, New York</li>
                <li>DePaul University – Chicago, Illinois</li>
                <li>Drexel University – Philadelphia, Pennsylvania</li>
                <li>Esprit University - Cebalat, Tunisia</li>
                <li>Fairfield University – Fairfield, Connecticut</li>
                <li>Fisk University – Nashville, Tennessee</li>
                <li>Franklin Pierce University – Rindge, New Hampshire</li>
                <li>Full Sail University – Orlando, Florida</li>
                <li>George Mason University – Fairfax, Virginia</li>
                <li>Harding University -Searcy, Arkansas</li>
                <li>Harvard University – Cambridge, Massachusetts</li>
                <li>Hofstra University – Long Island, New York</li>
                <li>Holy Cross University – Wooster, Massachusetts</li>
                <li>Julliard School – New York, New York</li>
                <li>Liberty University – Lynchburg, Virginia</li>
                <li>Lipscomb University – Nashville, Tennessee</li>
                <li>Louisiana State University – Baton Rouge, Louisiana</li>
                <li>Middle Tennessee State University – Murfreesboro, Tennessee</li>
                <li>Nazareth University – Rochester, New York</li>
                <li>New York University – New York, New York</li>
                <li>Northwestern College - Orange City, Iowa</li>
                <li>Oglethorpe University – Atlanta, Georgia</li>
                <li>Pepperdine University – Malibu, California</li>
                <li>Rutgers University – New Brunswick, New Jersey</li>
                <li>Salisbury University – Salisbury, Maryland</li>
                <li>Savannah College of Art and Design – Savannah, Georgia</li>
                <li>Southern Methodist University – Dallas, Texas</li>
                <li>Southern Virginia University – Buena Vista, Virginia</li>
                <li>Stanford University – Stanford, California</li>
                <li>Stephens College – Columbia, Missouri</li>
                <li>Stephen F. Austin State University – Nacogdoches, Texas</li>
                <li>Tennessee State University – Nashville, Tennessee</li>
                <li>Trevecca Nazarene University – Nashville, Tennessee</li>
                <li>Tufts University – Medford, Massachusetts</li>
                <li>University of Alabama – Tuscaloosa, Alabama</li>
                <li>University of Alabama at Birmingham – Birmingham, Alabama</li>
                <li>University of Binghamton – Binghamton, New York</li>
                <li>University of California at Berkeley, Berkeley, California</li>
                <li>University of California at Riverside – Riverside, California</li>
                <li>University of California at Santa Barbara – Santa Barbara, California</li>
                <li>University of Central Florida – Orlando, Florida</li>
                <li>University of Chicago – Chicago, Illinois</li>
                <li>University of Georgia – Athens, Georgia</li>
                <li>University of Houston – Houston, Texas</li>
                <li>University of Kentucky – Lexington, Kentucky</li>
                <li>University of Mary Hardin-Baylor – Belton, Texas</li>
                <li>University of Maryland – College Park, Maryland</li>
                <li>University of Massachusetts – Amherst, Massachusetts</li>
                <li>University of Mississippi – Oxford, Mississippi</li>
                <li>University of Missouri - Columbia, Missouri</li>
                <li>University of New Hampshire – Manchester, New Hampshire</li>
                <li>University of the South – Sewanee, Tennessee</li>
                <li>University of South Carolina – Columbia, South Carolina</li>
                <li>University of South Florida – Tampa, Florida</li>
                <li>University of Tennessee – Knoxville, Tennessee</li>
                <li>University of Tennessee at Chattanooga – Chattanooga, TN</li>
                <li>University of Texas at Arlington – Arlington, Texas</li>
                <li>Vanderbilt University – Nashville, Tennessee</li>
                <li>Washington State University – Pullman, Washington</li>
                <li>Watkins College of Art – Nashville, Tennessee</li>
                <li>Western Kentucky University – Bowling Green, Kentucky</li>
                <li>Williamson College – Franklin, Tennessee</li>
                <li>Yale University – New Haven, Connecticut</li>
                <br>
                <li>*Students from the institutions mentioned above have either interned or are<br> currently interning at ScholarshipAuditions.com
                </li>
            </ul>
        </div>
    </section>
</main>

<%- include('partials/scholarshipauditions-footer') -%>
