<%- include('partials/welchstump-header') -%>
<main>
    <section id="home" class="hero-section">
        <div class="hero-left" style="z-index: 2;">
            <div class="hero-top-left">
                <img src="/images/logo.png">
            </div>
            <div class="hero-bottom-left">
                <h1>Stumped?</h1>
                <p>We can take care of that!</p>
                <div>
                    <button><a href="#quote" style="color: white;">Get A Quote</a></button>
                    <button><a href="#testamonials" style="color: white;">Customer Reviews</a></button>
                </div>
            </div>
        </div>
        <div class="hero-right" style="z-index: 1; padding: 1rem;">
            <img src="/images/stump.png">
        </div>
    </section>
    <section id="gallery" class="gallery-section">
        <h1>Gallery</h1>
        <p>Check out these photos of our happy customers’ properties!</p>
        <div class="gallery">
            <div>
                <img src="/images/pic-1.png">
            </div>
            <div>
                <img src="/images/pic-2.png">
            </div>
            <div>
                <img src="/images/pic-3.png">
            </div>
            <div>
                <img src="/images/pic-4.png">
            </div>
            <div>
                <img src="/images/pic-5.png">
            </div>
            <div>
                <img src="/images/pic-6.png">
            </div>
            <div>
                <img src="/images/pic-7.png">
            </div>
            <div>
                <img src="/images/pic-8.png">
            </div>
        </div>
    </section>
    <section id="testamonials" class="testamonial-section">
        <h1>Testamonials</h1>
        <p style="font-size: 2rem;">Our customers love our work!</p>
        <div class="testamonials">
            <div class="testamonial">
                <div class="testamonial-names">
                    <div class="testamonial-abreviated">
                        <h2>MR</h2>
                    </div>
                    <div class="testamonial-fullname">
                        <h2>Mary R.</h2>
                        <h3>Residential</h3>
                    </div>
                </div>
                <p>After experiencing disappointment with other stump removal services that made empty promises, I was fortunate to discover John Welch's company through a friend's recommendation. Initially, I had my reservations, fearing a similar letdown. However, I was pleasantly surprised. John not only answered my call with a warm and inviting demeanor but, unlike the others, he exceeded all expectations. True to his word, he arrived promptly the following day, provided a fair and reasonable quote, and within just two days, my stumps were a thing of the past. Welch Stump Grinding is a cut above the rest.</p>
            </div>
            <div class="testamonial">
                <div class="testamonial-names">
                    <div class="testamonial-abreviated">
                        <h2>JC</h2>
                    </div>
                    <div class="testamonial-fullname">
                        <h2>Joseph C.</h2>
                        <h3>Residential</h3>
                    </div>
                </div>
                <p>John performed an outstanding job, leaving my yard not only stump-free but even cleaner than it was when he commenced. I wholeheartedly endorse his services and would gladly recommend them to my dearest friends. His commitment to honesty and dependability is truly commendable.</p>
            </div>
            <div class="testamonial">
                <div class="testamonial-names">
                    <div class="testamonial-abreviated">
                        <h2>MH</h2>
                    </div>
                    <div class="testamonial-fullname">
                        <h2>Mike H.</h2>
                        <h3>Commercial</h3>
                    </div>
                </div>
                <p>I have a deep appreciation for supporting veteran-owned businesses, having served in the U.S. Marines myself. John's service in my yard reflected the qualities of a great Marine: he was honest, focused on the task at hand, and swiftly completed the job, exceeding my expectations and leaving my yard in a much better state than I had ever imagined. It's truly an honor to support a business that embodies the values I hold dear.</p>
            </div>
            <div  class="testamonial">
                <div class="testamonial-names">
                    <div class="testamonial-abreviated">
                        <h2>SM</h2>
                    </div>
                    <div class="testamonial-fullname">
                        <h2>Sandy M.</h2>
                        <h3>Residential</h3>
                    </div>
                </div>
                <p>After enduring the aftermath of a fierce coastal storm that brought down several tall pines in my front yard, a tree service was called in to remove them, but they left the stumps and quite a mess behind. I was far from pleased with the situation. Then, I contacted John. He not only did a remarkable job with the stumps but also went above and beyond, leaving my yard pristine. He even cleaned up the mess left behind by the previous tree service. I wholeheartedly recommend his services for his exceptional work and dedication to ensuring customer satisfaction.</p>
            </div>
            <div  class="testamonial">
                <div class="testamonial-names">
                    <div class="testamonial-abreviated">
                        <h2>LT</h2>
                    </div>
                    <div class="testamonial-fullname">
                        <h2>Lydia T.</h2>
                        <h3>Residential</h3>
                    </div>
                </div>
                <p>Navigating life as a widow can be daunting when it comes to choosing trustworthy help. After a storm left my yard in disarray, a recommendation from a fellow church member who knew John Welch's wife's family brought him into my life. I made the call, and John not only performed admirably but also displayed exceptional kindness. He treated this widow with the utmost care and respect. Don't hesitate to reach out to John Welch; he is a true gem.</p>
            </div>
            <div  class="testamonial">
                <div class="testamonial-names">
                    <div class="testamonial-abreviated">
                        <h2>AB</h2>
                    </div>
                    <div class="testamonial-fullname">
                        <h2>Aaron B.</h2>
                        <h3>Residential</h3>
                    </div>
                </div>
                <p>After receiving several quotes that left me feeling like the costs were exorbitant, I decided to contact John Welch for a quote. To my astonishment, his quote was a remarkable 40% less than anything I had previously been offered. It was an easy decision to hire him, and I couldn't be more pleased with the outcome. John delivered an exceptional job, and I now have a few extra dollars in the bank, all thanks to his honest pricing. I wholeheartedly endorse the services of John Welch for anyone seeking quality and affordability.</p>
            </div>
        </div>
    </section>
    <section id="about" class="about-section">
        <div class="about-left">
            <h1>About</h1>
            <p>Welcome to Welch Stump Grinding, where we take pride in being your trusted local family-owned stump grinding company. Serving the wonderful Pee-Dee community since 2020, we are committed to providing fair and transparent pricing, ensuring your complete satisfaction with punctual and reliable service. Discover the Welch difference today, and let us help you reclaim your outdoor space with care and professionalism.</p>
        </div>
        <div class="about-right">
            <img src="/images/family-photo.png">
        </div>
    </section>
    <section id="quote" class="quote-section">
        <div class="quote">
            <div class="quote-left">
                <h1 style="line-height: 7rem;">Get a Quote</h1>
                <p style="margin-top: -2rem;">It's <span style="font-style: italic; color: rgb(181 51 60);">free!</span></p>
                <form id="contactForm" style="padding: 1rem;">
                    <div class="form">
                      <div class="contact-row">
                        <input type="text" id="name" placeholder="Name">
                        <input type="text" id="subject" placeholder="Subject">
                      </div>
                      <div class="email">
                        <input type="email" id="email" placeholder="Email">
                      </div>
                      <div class="msg">
                        <textarea name="msg" id="msg" cols="43" rows="6" placeholder="Message"></textarea>
                      </div>
                      <br>
                      <div class="about-button">
                        <button class="btn btn-main" id="submitButton" type="submit">Let's Do This!</button>
                      </div>
                    </div>
                  </form>
            </div>
            <div class="quote-right">
                <img src="/images/logo.png">
            </div>
        </div>
        <p style="text-align: center;">Give us a call at ... 843-319-7266 to request a free quote for all your stump grinding needs! We will respond within 24 hours to a request made via this site.</p>
    </section>
</main>
<%- include('partials/welchstump-footer') -%>
